/* .image{
    background: url('https://img.freepik.com/free-vector/delivery-staff-ride-motorcycles-shopping-concept_1150-34879.jpg?w=900&t=st=1706940294~exp=1706940894~hmac=29f7f6c824e91eac8bcaaf938d0fa6b41f21fdf7fdfae28d00d59ef74d494bf5');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
} */